Capture.JPG
EDA.JPG
hyperparameter_guide.JPG
Schedule.JPG
.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/submission_format.csv
data/test_set_features.csv
data/training_set_features.csv
data/training_set_labels.csv
log_dtc_model_2.txt.bak
log_logreg_model_2
.ipynb_checkpoints/Modeling_Work_1-checkpoint.ipynb
.ipynb_checkpoints/Modeling_Work_2_Logreg-checkpoint.ipynb
.ipynb_checkpoints/Modeling_Work_3_DTC-checkpoint.ipynb
.ipynb_checkpoints/More_EDA-checkpoint.ipynb
.ipynb_checkpoints/Unstructured_Work-checkpoint.ipynb
Unstructured_Work.ipynb
code/More_EDA.ipynb
code/.ipynb_checkpoints/EDA_and_Initial_Models-checkpoint.ipynb
code/.ipynb_checkpoints/Modeling_Work_1_Logreg_DTC-checkpoint.ipynb
code/.ipynb_checkpoints/Modeling_Work_2_Logreg-checkpoint.ipynb
code/.ipynb_checkpoints/Modeling_Work_3_DTC-checkpoint.ipynb
code/.ipynb_checkpoints/More_EDA-checkpoint.ipynb
.ipynb_checkpoints/Modeling_Work_1_Logreg_DTC-checkpoint.ipynb
